<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="pl.com.mmotak.lekremainder"
          android:installLocation="internalOnly"> <!-- TO MAKE SURE BOOT WILL WORK! -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".lekapp.LekRemainderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.SingleDrugActivity"
            android:label="@string/title_activity_edit_new_drug"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".services.TodayDoseResetService"
            android:exported="false"/>
        <service
            android:name=".services.NextDoseAlarmService"
            android:exported="false"/>
        <service android:name=".services.TodayDoseResetJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service android:name=".services.NextDoseAlarmJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <receiver
            android:name=".broadcasts.LekRemainderBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcasts.LekRemainderMainReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <provider
            android:authorities="pl.com.mmotak.lekremainder.fileprovider"
            android:name=".LekFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>